* {
    margin: 0;
    padding: 0;
}

.cagetory .tittle {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
}
#cagetories .row {
    height: 200px;
    display: flex;
    margin-bottom: 1rem;
}

.cagetory {
    width: 25%;
    /* flex-grow: 1; */
    box-sizing: border-box;
    /* margin-right: 1rem; */
}

.cagetory .image {
    height: 163px;
    background-image: url('/image/cagetories.jpeg');
    width: 251px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin: 0.5rem 0.5rem 0.5rem 0;
}


