#video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#video video {
    width: 100%;
}

#video .content {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#video .content h1{
    font-size: 4rem;
    color: #333;
}

#video .content h5 {
    font-size: 2rem;
    color: #333;
}

#video .content button {
    background-color: rgb(233, 93, 116);
    color: #FFF;
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3rem;
}

#video .content button:hover {
    background-color: #e81035;
}


/* #myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
} */



